<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Clients</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>{{ clients.getClientName }}</h1>
            <h2><em>Use form to update client.</em></h2>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h1>Update {{ clients.getClientName }}:</h1>

                <form action="/clients/{{ clients.getId }}" method="post">
                  <input name="_method" type="hidden" value="patch">

                  <label for="name">Update client:</label>
                  <input id="name" name="name" type="text">

                  <button type="submit">Update</button>
                </form>
                <form action="/clients/{{ clients.getId }}" method="post">
                  <input name="_method" type="hidden" value="delete">

                  <button type="submit">Delete this client</button>
                </form>
                <h2><a href='/'>Home</a></h2>
            </div>
            <div class="col-sm-6">
                <h2><a href="/total">Click here</a> to see </br>all of the clients and stylists.</h2>

            </div>

        </div>

    </div>





</body>
</html>
